.app__awards_list{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    /*display: flex;*/
    /*justify-content: flex-start;*/
    /*align-items: center;*/
    /*flex-wrap: wrap;*/
}

@media screen and (max-width: 1270px) {
    .app__awards_list{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
    }
}

@media screen and (max-width: 1150px) {
    .app__awards_list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2,1fr);
    }
}

@media screen and (max-width: 550px) {
    .app__awards_list{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
    }
}
